<md-sidenav-container class="example-container">
  <md-sidenav #sidenav  mode="side" opened="true" class="example-sidenav">
      <md-radio-group [(ngModel)]="align">
        <div>
          <md-radio-button class="padding" value="start">Start</md-radio-button>          
        </div>
        <div>
          <md-radio-button class="padding" value="wobble">End</md-radio-button>          
        </div>
      </md-radio-group>
    
  </md-sidenav>

  <div [@align] class="example-sidenav-content">
   {{align}}
  </div>

</md-sidenav-container>